body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #2e3033;
    align-items: center;
}

div {
    display: block;
}

.nav {
    height: 48px;
    color: white;
    z-index: 986;
}

.elm {
    float: right;
    display: block;
    padding-left: 0;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    flex: 0 0 auto;
}

.a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: arial, sans-serif;
    line-height: normal;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.gImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    margin-top: 150px;
}

.ingcont {
    display: block;
    max-height: 92px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: auto;
    padding-top: 30px;
    position: relative;
}

.top-right {
    position: absolute;
    top: 95%;
    right: 41%;
}

.cd {
    display: flex;
    flex: 1;
    flex-wrap: wrap
}

.Scont {
    flex-direction: column;
    align-items: center;
    z-index: 3;
    height: 44px;
    background: transparent;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
}

.Scontainer {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
    height: 44px;
    background: transparent;
    border: 1px solid #d3d1d1;
    box-shadow: none;
    border-radius: 24px;
}

.txtsearch {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 40px;
    font-size: 16px;
    width: 550px;
    border-radius: 24px;
    border: none;
    outline: none;
    margin-top: -3px;
    background: transparent;
}

.vicon {
    display: flex;
    flex: 0 0 auto;
    margin-top: 7px;
    align-items: stretch;
    flex-direction: row;
    height: 30px;
    width: 30px;
}

.txtsearch:hover,
.Scontainer:hover {
    background-color: #e0e3e7;
    border: none;
}

.btnsearch {
    background-color: #e0e3e7;
    border: 1px solid #e0e3e7;
    border-radius: 4px;
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
}

.simages {
    color: #4487f6;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
    margin-top: 700px;
    margin-bottom: 600px;
    margin-left: 820px;
}

.logo {
    display: inline-block;
    height: 24px;
    width: 74px;
    padding: 12px;
}

td {
    text-align: center;
}

th {
    text-align: left;
    padding-right: 10px;
}

.AStable {
    margin: 100px 100px;
    border-collapse: separate;
    font-family: arial, sans-serif;
}

.btnAS {
    height: 30px;
    float: right;
    margin: 10px 10px;
    background: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.AStxt {
    text-align: left;
    border: 1px solid #5f6368;
    color: #323233;
    font-size: 13px;
    height: 25px;
    width: 300px;
    margin-top: 10px;
    padding: 1px 8px;
}

.sicon {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: 5px;
}